<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @overlap_group.name %>
</p>

<%= link_to 'Edit', edit_overlap_group_path(@overlap_group) %> |
<%= link_to 'Back', overlap_groups_path %>
