<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @analysis_group.name %>
</p>

<%= link_to 'Edit', edit_analysis_group_path(@analysis_group) %> |
<%= link_to 'Back', analysis_groups_path %>
